.catalog{
    background-color: white;
}
.catalog h1{
    text-align: center;

}
.catalog .product-container{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.catalog-btns{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 5px;
}
.product-list{
    background-color: #f3f3f3;
    padding-top: 20px;
}