.product-container{
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:max-content;
    background-color: white;
}
.product-img{
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 250px;
    /* padding: 20px; */
}
.product-heading{
    text-decoration: none;
    color: black;
}

#addCart{
    margin-bottom: 20px;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
}